body{
    background-image: url(../img/bw.jpg);
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 6px;
}

h1 {
    font-size: 200px;
}